<div class="panel ticket-selection-panel" cdkDrag *ngIf="numberInTicket?.length">
    <div class="panel ticketInfo">
        <h3 class="panel heading">Ticket selection panel</h3>
        <div>
            <button class="btn btn-primary" (click)="highlightTicketInPanels()">High Light</button>
            <button class="btn btn-primary" (click)="clearHighlightTicketInPanels()">Clear Hi Light</button>
        </div>
        <div class="panel ticketData">
            <span>Ticket:</span>
            <span>
                <app-number-control 
                *ngFor="let num of numberInTicket; let i=index"
                [number]="num"
        
                [displayColorClass]="'selecting-ticket-number'"
                style="margin-right:10px;"
                >
        
                </app-number-control>
            </span>
        </div>
        
    </div>

    <div class="panel ticketAnalysis">
        <div>Ticket Analysis</div>
        <div class="panel ticketAnalysis-details">
            
            <span><app-number-quadrant-analysis
                [fieldLabel]="''"
                [displayClass]="'number-panel-analysis-medium'"
                [ticketObs] = "getTicketMultiCastObs('ticket-assembling-panel.component')"
                >

            </app-number-quadrant-analysis></span>
        
            <!--
                <span *ngFor="let item of this.getTicketAnalysis()" >{{item}}</span>
            -->
            
        </div>
    </div>

</div>