<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel">

    
      
      <div *ngFor="let panelNumber of panelIndexList; let i = index">
      <app-number-quadrant
        
        [index]="panelNumber"
        (doneDisplayNumber) = "onDoneDisplayPanel($event, panelIndexList)"
      (overNumberEvent)="onOverNumber($event)"
        (notifyCurrentNumberEvent)="onNotifyCurrentDrawnNumber()"
        >

      </app-number-quadrant>
    </div>
    
    </div>
    

  </div>

</div>

